<div class="row py-3 px-1 rounded-4 bg-light mx-5 my-3">
  <div class="col-12 col-md-5 sidebar-desktop">
    <div class="sidebar-steps m-4">
      <div class="row">
        <div class="col-3 col-xxl-2 d-flex justify-content-center">
          <div class="step-number step-selected">1</div>
        </div>
        <div class="col-9 px-0">
          <p class="step-text">step 1</p>
          <p class="step-title">your info</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-xxl-2 d-flex justify-content-center align-center">
          <div class="step-number">2</div>
        </div>
        <div class="col-9 px-0">
          <p class="step-text">step 2</p>
          <p class="step-title">select plan</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-xxl-2 d-flex justify-content-center align-center">
          <div class="step-number">3</div>
        </div>
        <div class="col-9 px-0">
          <p class="step-text">step 3</p>
          <p class="step-title">add-ons</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-xxl-2 d-flex justify-content-center align-center">
          <div class="step-number">4</div>
        </div>
        <div class="col-9 px-0">
          <p class="step-text">step 4</p>
          <p class="step-title">summary</p>
        </div>
      </div>
    </div>
    <img src="assets\images\bg-sidebar-desktop.svg" alt="sidebar img desktop">
  </div>
  <div class="col-12 col-md-7 px-4">
    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
      <div class="row mt-4">
        <h2 class="font-weight-bold">Personal info</h2>
        <p class="personal-info-text">Please provide your name, email address, and phone number.</p>
        <div class="col-10">
          <mat-form-field appearance="fill" class="w-100">
            <input matInput placeholder="Nombre" formControlName="name">
          </mat-form-field>
        </div>
        <div class="col-10">
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>
        <div class="col-10" >
          <mat-form-field class="w-100">
            <input matInput placeholder="Teléfono" formControlName="phone">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>

